<div *ngIf="czyPokazac">
   <app-produkt [produkt]="produkt1" (dodaj)="onDodaj($event)"></app-produkt>
    <app-produkt [produkt]="produkt2" (dodaj)="onDodaj($event)"></app-produkt>
    <app-produkt [produkt]="produkt3" (dodaj)="onDodaj($event)"></app-produkt>
    <app-produkt [produkt]="produkt4" (dodaj)="onDodaj($event)"></app-produkt>
    <app-produkt [produkt]="produkt5" (dodaj)="onDodaj($event)"></app-produkt>
    <app-koszyk [suma]="cenaWszystko"></app-koszyk>
</div>
<button (click)="pokazProdukty()">{{buttonText}}</button>